{minimum_otp_vsn, "20.0"}.

{pre_hooks,
 [{"(linux|darwin|solaris)", compile, "make -C native"},
  {"(freebsd)", compile, "gmake -C native"}]}.

{post_hooks,
 [{"(linux|darwin|solaris)", clean, "make -C native clean"},
  {"(freebsd)", clean, "gmake -C native clean"}]}.

%% xref configurations
{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  deprecated_function_calls,
  deprecated_functions]}.
